.account-header{
  background-color: $primary;
  color: #fff;
  padding: 10px 20px;

  h1{
    font:{
      size: 18px;
      weight: 400
    }
  }

  a{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon{
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 10px
    }
    svg{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.emptystate{
  background-image: url('/assets/toolkit/images/empty.gif');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100px;
  margin-bottom: 20px;

  h5{
    font-weight: 400;
    color: $secondary;
    margin-bottom: 5px
  }
  > div{
    padding-left: 80px
  }
}
