
.input-wrap{
  position: relative;
  background-color: #F1F2F6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 20px;

  input{
    width: 100%;
    font-size: 16px;
    color:#36506F;
    background-color: transparent;
    border: 0;
    padding:11px;
    padding-left: 15px;

    &::placeholder{
      color: #a3abc4
    }
  }

  .icon{
    width: 48px;
    max-width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      width: 20px;
      height: 20px;
      display: block;
    }

    + input{
      padding-left: 0
    }
  }
}
