


@media (min-width: 990px) {

  .centered-form{
    max-width: 700px;
    margin: auto;

    .well{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .pay-popup{
    height: 80vh !important;
    max-height: 560px !important;

    .popup-page{
      height: 560px !important;
    }
    &.active{
      transform: translate3d(0,-90vh,0) !important;

      .popup-page-content{
        padding-bottom: 0 !important;
      }
    }
  }
  .main-grid {
    display: grid;
    grid-template-columns: 760px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .sec1 { grid-area: 1 / 1 / 2 / 2; padding-right: 20px}
    .sec2 { grid-area: 1 / 2 / 3 / 3; }
    .sec3 { grid-area: 2 / 1 / 3 / 2; padding-right: 20px}
    .sec4 { grid-area: 3 / 1 / 4 / 2; padding-right: 20px}
  }

  .form-group-two{
    justify-content: flex-start;
  }

  .passenger,.payment, .bookings{
    .well{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .payment{
    .results{
      margin-top: 20px;
    }
  }

  .fixed-footer{
    position: static;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 20;

    > *{
      margin-left: 0;
      margin-right: 0;
      width: auto;
      display: inline-block;
      min-width: 300px
    }
  }

  .confirmation{
    .card{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .result-search{
    height: 110px;

    .feature-boxes{
      display: none !important
    }
    .search-form{
      margin-top: 0 !important;
      margin-bottom: 20px;
      background: #fff !important;
      position: fixed !important;
      left: 50%;
      transform: translateX(-50%) !important;
      z-index: 20;


      form{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .search-form-fields{
        width: calc(100% - 20px)
      }

      .search-header{
        min-width: 200px;
        margin-bottom: 0
      }

      .form-switch{
        display: none
      }
    }
  }

  .results .items>.item,
  .content-placeholder .item{
    margin: 0 0 20px;
  }

  .view{
    .search-header{
      justify-content: flex-start;

      .passenger{
        margin-left: 30px
      }
    }
    &.home-page{
      .page-content{
        background-image: url('/assets/toolkit/images/header.svg') !important;
        background-position: 50% 0 !important;
        background-repeat: no-repeat !important;
        background-color: #fff !important;
      }
      .navbar{
        background-color: transparent !important
      }
    }

    .navbar{
      background-color: #eef2f8;
      padding: 15px 0;
      .container{
        > div{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .main-nav{
      a{
        color: $secondary;
        margin-left: 40px;


        &.raised{
          background: rgba(255,255,255,.5);
          border-radius: 80px;
          padding: 6px 15px;
          transition: background-color .2s, color .2s;
          &:hover{
            background-color: $primary;
            color: #fff;
          }
        }
      }
    }

    .menu-icon{
      display: none;
    }

    .search-form{
      width: 1200px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;

      background: #fff url('/assets/toolkit/images/morocco.svg') 95% 100% no-repeat;
      background-size: contain;

      &:after{
        position: absolute;
        bottom:0;
        left:0;
        right: 0;
        height: 6px;
        content: "";
        display: block;
        background: #4C7A7F;
        border-radius: 0 0 8px 8px
      }

      .form-switch{
        max-width: 400px
      }
    }

    .search-form-fields{
      display: flex;
      align-items: center;
      justify-content: space-between;
      > *{
        width: 100%;
        margin-right: 20px;
        margin-bottom: 0;

        &:last-child{
          margin-right:0;
          max-width: 150px;
        }
      }
    }

    .popup{
      max-width: 500px;
      max-height: 50vh;
      border-radius: 8px;

      &.active{
        left: calc(50vw - 250px);
        transform: translate3d(0,-75vh,0);
        transition: transform .2s;
      }

      .popup-header i+.input-wrap{
        width: calc(100% - 80px)
      }
    }

    .popup-page{
      height: calc(50vh - 60px);
    }

    .hide-on-mobile{
      display: block;
    }
  }

  .container{
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-boxes{
    margin-top: 40px;
    color: #4C7A7F;

    h3{
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px
    }

    p{
      margin: 0
    }

    [four]{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .icon{
        max-width: 40px;
        height: 40px;
        margin-right: 20px;

        svg{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }

  .map-container{
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 480px;
    flex: 1;
    margin-left: 20px;

    > div{
      position: fixed;
      width: 480px;
      height: calc(100% - 194px);
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 10px 20px rgba(0,0,0,.05);
      border: 2px solid #fff
    }
    .map{
      width: 100%;
      height: 100%;
    }
  }

  .result-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .results{
      width: 100%;
      max-width: 700px;
    }
  }

  .hide-on-desktop{
    display: none
  }
}
