


@media (min-width: 990px) {
  .view{

    .navbar{
      width: 1200px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
