---
title: Train
description:
---

{{> mobile-menu }}

<div class="view">
  {{> header }}

  <div class="page">
    <div class="page-content has-footer">
      <div class="account-header">
        <h1>Your Bookings</h1>
      </div>
      <div class="card well margin-top">

        <div class="results">
          <div class="items">
            <div class="item no-margin">

              <header>
                <span class="blue">One-way</span>
              </header>

              <main>
                <div class="times-stations-container">
                  <div class="times">
                    <div class="time">18:07</div>
                    <div class="duration"><span>14h45</span></div>
                    <div class="time">18:07</div>
                  </div>

                  <div class="locations">
                    <span>Paris Gare de Lyon</span>
                    <span>Barcelone Sants</span>
                  </div>
                </div>


                <footer>
                  <a href="booking-detail.html" class="reserve">
                    <div>

                    </div>
                    <div>
                      <span>Details</span>
                      <i class="icon">
                        <svg><use xlink:href="#arrow"></use></svg>
                      </i>
                    </div>
                  </a>
                </footer>

              </main>
            </div>


          </div>
        </div>
      </div>

      <div class="card well margin-top">

        <div class="results">
          <div class="items">
            <div class="item no-margin">

              <header>
                <span class="blue">One-way</span>
              </header>

              <main>
                <div class="times-stations-container">
                  <div class="times">
                    <div class="time">18:07</div>
                    <div class="duration"><span>14h45</span></div>
                    <div class="time">18:07</div>
                  </div>

                  <div class="locations">
                    <span>Paris Gare de Lyon</span>
                    <span>Barcelone Sants</span>
                  </div>
                </div>


                <footer>
                  <a href="booking-detail.html" class="reserve">
                    <div>

                    </div>
                    <div>
                      <span>Details</span>
                      <i class="icon">
                        <svg><use xlink:href="#arrow"></use></svg>
                      </i>
                    </div>
                  </a>
                </footer>

              </main>
            </div>


          </div>
        </div>
      </div>

      <div class="card well margin-top">
        <h3>Retrieve your booking</h3>
        <p>Enter your booking number and email address below and we’ll find your ticket for you. We sent your booking number to you in your confirmation email.</p>

        <form action="" class="margin-top">
          <div class="form-group">
            <label for="first-name">Booking Number</label>
            <div class="input-wrap">
              <input type="text" name="booking-number">
            </div>
          </div>

          <div class="form-group">
            <label for="first-name">Email address</label>
            <div class="input-wrap">
              <input type="text" name="email">
            </div>
          </div>

          <button class="btn btn-primary btn-block ">Retrieve Booking</button>
        </form>
      </div>

    </div>
  </div>

  {{> footer }}
  {{> popups}}
</div>
