---
title: Train
description:
---

{{> mobile-menu }}

<div class="view">
  {{> header }}

  <div class="page">
    <div class="page-content has-footer">
      <div class="account-header">
        <a href="booking-detail.html">
          <i class="icon">
            <svg><use xlink:href="#arrow"></use></svg>
          </i>
          Booking Details
        </a>
      </div>

      <div class="results margin-top">
        <div class="items">
          <div class="item card well">
            <header>
              <span class="blue">Aller choisi</span>
            </header>

            <main>
              <div class="times-stations-container no-margin">
                <div class="times">
                  <div class="time">ven. 13 sept. 14:07 - 20:34</div>
                </div>

                <div class="locations">
                  <span>Paris Gare de Lyon -Barcelone Sants</span>
                </div>
              </div>

            </main>
          </div>

        </div>
      </div>

      <div class="card well margin-top">
        <h3>Payment Information</h3>
        <div class="price-info">

          <div class="item row">
            <div>Billets (1 Adulte)</div>
            <div>399 Dhs</div>
          </div>

          <div class="item row">
            <div>Service fee</div>
            <div>€0.67</div>
          </div>

          <div class="item">
            <div>
              <strong>Total</strong> <small>(taxes comprises)</small>
            </div>
            <div class="price">399 Dhs</div>
          </div>
        </div>
      </div>


      <div class="card well margin-top">
        <h3 class="border-bottom">Cancellation policy</h3>
        <p>This ticket may be exchangeable and/or refundable depending on regional regulations, but not on the departure date. Tickets under €10 cannot be refunded.
This ticket is only valid for the selected train, however the validity might be extended according to regional regulations and specific train services (i.e. Fiumicino to Rome).</p>
        <div class="refund">
          <strong>Total refund</strong>
          <strong>€8.88</strong>
        </div>
      </div>

      <div class="fixed-footer">
        <a href="#" class="btn btn-primary btn-large main-cta">
          Cancel Ticket
        </a>
      </div>

    </div>
  </div>

  {{> footer }}
  {{> popups}}
</div>
