---
title: Train
description:
---

{{> mobile-menu }}

<div class="view">
  {{> header }}

  <div class="page">
    <div class="page-content has-footer">
      <div class="account-header">
        <div class="container">
          <h1>Hello <strong>Arif</strong></h1>
        </div>
      </div>

      <div class="container">
        <div class="centered-form">
          <div class="card well margin-top">
            <h3>Basic Information</h3>

            <form action="">
              <div class="form-group">
                <label for="">Title</label>
                <div class="radio-wrap">
                  <div>
                    <input type="radio" checked name="title" id="title1">
                    <label for="title1">
                      <i><svg><use xlink:href="#check"></use></svg></i>
                      <span>M.</span>
                    </label>
                  </div>

                  <div>
                    <input type="radio" name="title" id="title2">
                    <label for="title2">
                      <i><svg><use xlink:href="#check"></use></svg></i>
                      <span>Mlle.</span>
                    </label>
                  </div>
                  <div>
                    <input type="radio" name="title" id="title3">
                    <label for="title3">
                      <i><svg><use xlink:href="#check"></use></svg></i>
                      <span>Mme..</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="first-name">First Name</label>
                <div class="input-wrap">
                  <input type="text" value="Arif" name="first-name">
                </div>
              </div>

              <div class="form-group">
                <label for="first-name">Last Name</label>
                <div class="input-wrap">
                  <input type="text" value="Cakiroglu" name="last-name">
                </div>
              </div>

              <div class="form-group">
                <label for="first-name">E-mail Address</label>
                <div class="input-wrap">
                  <input type="text" value="arif@nuitee.com" name="email">
                </div>
              </div>

              <div class="form-group">
                <label for="first-name">Phone Number</label>
                <div class="input-wrap">
                  <input type="text" value="0531 556 85 80" name="first-name">
                </div>
              </div>

              <div class="form-group">
                <label for="first-name">Birth-day</label>
                <div class="input-wrap">
                  <i class="icon">
                    <svg><use xlink:href="#datepicker"></use></svg>
                  </i>
                  <input type="text" value="12 Octobre, 1987" class="birthday-datepicker">
                </div>
              </div>

            </form>
          </div>


          <div class="fixed-footer">
            <a href="passengers.html" class="btn btn-primary btn-icon btn-large main-cta">
              Save
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> footer }}
  {{> popups}}
</div>
