.accordion{
  position: relative;
  padding-top:0;
  transition: box-shadow .2s;
  &.active{
    box-shadow: 0 2px 4px 0 rgba(54,80,111,.15), inset 0 0 0 2px $primary;
    main{
      opacity: 1;
      visibility: visible;
      height: auto;
      max-height: 700px;
      margin-top: 20px;
    }
    h3 svg{
      transform: rotate(180deg);
    }
  }
  h3{
    margin-bottom: 0;
    padding-top:20px;
    cursor: pointer;
    small{
      font-weight: 400;
      opacity: .7
    }
    i{
      transform: rotate(-93deg) translateY(-50%);
      width: 44px;
      height: 44px;
      display: inline-block;
      position: absolute;
      right: -19px;
      top: 8px;
      z-index: 2;
      padding: 17px;
      background: #fff;
    }

    svg{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  main{
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all .2s;
    margin-top: 0;
  }
}
