$placeholder-bg : #eef2f8 !default;

.content-placeholder{
  margin-bottom: 20px;
  display: none;

  &.active{
    display: block;
  }

  .item{
    margin-bottom: 20px;
  }

  .section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .section-2{
    span{
      &:first-child{
        height: 40px;
      }

      &:last-child{
        height: 40px;
      }
    }
  }

  .section-1{
    span{
      width: 35%;
      &:first-child{
        height: 15px;
      }

      &:last-child{
        height: 15px;
      }
    }
  }
  span{
    display: inline-block;
    width: 100%;
    background-color: $placeholder-bg;
    height: 20px;
    border-radius: 3px;
    &:first-child{
      margin-right: 20px;
    }

    &:last-child{
      margin-left: 20px;
    }

    &:first-child:last-child{
      margin: 0;
    }
  }
}



.loads, .content-placeholder .section span {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeload;
  animation-timing-function: linear;
  background: #eef2f8;
  background: -webkit-linear-gradient(
    left,
    #eeeeee 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  background: linear-gradient(to right, $placeholder-bg 8%, darken($placeholder-bg, 2%) 18%, $placeholder-bg 33%);
  -webkit-background-size: 800px 104px;
  background-size: 1200px 104px;
  position: relative;
}

@keyframes placeload {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
