
.dropdown{
  position: relative;
  color: $secondary;
  user-select: none;

  .icon{
    width: 10px;
    height: 10px;
    display: inline-block;
    transform: rotate(-93deg);
    opacity: .7;
    margin-left: 10px;

    svg{
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &.active{

    .icon{
      transform: rotate(88deg);
    }
    .list{
      height: 100%;
      overflow: initial;
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      opacity: 1;
      z-index: 10;
      >div{
        display: block;
      }
    }
  }
  .list{
    position: absolute;
    top: 24px;
    border-radius: 8px;
    opacity: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition: transform .15s ease-in-out;
    left: 0;

    >div{
      max-height: 448px;
      max-width: 356px;
      min-width: 160px;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 10px;
      height: auto;
      box-shadow:0 16px 16px 0 rgba(19,41,104,.2);
      display: none;
      padding: 10px 0;

      .item{
        color: lighten($secondary, 20%);

      }

      .selected{
        background:#f1f2f6;
        color: $secondary;
      }

      > div{
        padding: 10px 20px;
        line-height: 16px;
        color: $secondary

      }
    }
  }

}
