.popup{
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  transform: translate3d(0,110vh,0);
  transition: transform .4s;
  z-index: -1;
  will-change: transform;

  &.active{
    transform:translate3d(0,-100vh,0);
    z-index: 6000;
    transition: transform .4s;
  }

  &.popup-hide{
    transform: translate3d(0,100vh,0);
  }

  &.gray{
    background: #EEF2F8;
  }

  &.half{
    border-radius: 10px 10px 0 0;
    &.active{
      transform:translate3d(0,-50vh,0);
    }
  }

  &.pay-popup{
    border-radius: 10px;
    height: 80vh;
    &.active{
      transform:translate3d(0,-90vh,0);
    }
  }

  .popup-page{
    height: calc(100vh - 60px);
    width: 100%;
    padding: 20px;
    will-change: scroll-position;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .popup-page-content{
    min-height: 100%;
    padding-bottom: 60px;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    z-index: 20;
  }
}

.popup-backdrop{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#140F26,.6);
  z-index: 5999;
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;

  &.active{
    visibility: visible;
    opacity: 1;
  }
}


.popup-header{
  height: 60px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  color: $secondary;

  i{
    position: absolute;
    left: 9px;
    top:9px;
    width: 44px;
    min-width: 44px;
    height: 44px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary;
    svg{
      width: 14px;
      height: 14px;
      display: block;
    }

    + .input-wrap{
      height: 44px;
      position: absolute;
      width: calc(100vw - 80px);
      left: 60px;
      top: 8px;
    }

    + .title{
      margin-left: 40px
    }
  }
}

.tild{
  width: 90px;
  height: 5px;
  background-color: #C2CAD3;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}
