---
title: Train
fabricator: true
---

<h1 class="f-item-heading-h1">Overview</h1>

<p class="uikit-font">Train toolkit is a highly-modular design system.</p>

<h2 class="uikit-font">Usage</h2>

<p class="uikit-font">Start by adding the following files to the page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>

<br>
<h2 class="uikit-font">Container</h2>
<p class="uikit-font">Center your page’s contents with a `.container`.</p>
<pre class="language-markup"><code class="language-markup">&lt;div class=&quot;container&quot;&gt;
	&lt;!-- contents here --&gt;
&lt;/div&gt;</code>
</pre>
