.text-center{
  text-align: center;
}

.clear{
  clear: both;
}

.margin-top{
  margin-top: 20px
}

.no-padding{
  padding: 0 !important
}

.no-margin{
  margin: 0 !important
}


.margin{
  margin: 20px;
}


.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-large{
  font-size: 18px;
}

.hide-on-mobile{
  display: none;
}
